@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    min-width: 425px;
}

body{
    background-color:white;
    min-height: 100vh;
}



@media screen and (max-width: 1.280px){

}  
@media only screen and (max-width: 768px) {

}