:root{
    --color-rojo: rgba(248,49,56,255);
}

#botonSesion{
    display: none;
    font-size: 1.5em;
    width: 30%;
}

#nombreUsuario{
    margin-right: 10px;
    font-size: 2em;
    font-weight: bolder;
    color: black;
}

.logoPokeball{
    min-width: 70px;
    width: 10%;
}

#logoHeader{
    display: flex;
    align-items: center;
    font-size: larger;
}


#logoEntrenador{
    padding: 5px;
    display: flex;
    align-items: center;
}

#head-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-rojo);
}

#botonNav{
    display: none;
}

#menu{
    background-color: black;
    height: 50px;
}

.listaMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style-type: none;
}

.linkNav{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    border-radius: 10px;
}

.linkNav:hover{
    color: var(--color-rojo);
}

#sitioActual{
    background-color: white;
    color:black;
    border: black solid 7px;
}

#bordeEntrenador{
    background: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 15px;
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1.280px){

}  

@media only screen and (max-width: 768px)  {
    
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sitioActual{
        background-color: white;
        border: 0px;
        width: 100%;
    }

    .linkNav{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0%;
        display: inline-block;
        width: 100%;
    }

    .listaMenu{
        display: none !important;
    }

    .desplegable > li{
        width: 100%;
        text-align: center;
    }

    .desplegable{
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        width: 100%;
    }


    #botonNav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: white;
        border: 7px solid black;
    }

    #centroBoton{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid black;
        box-shadow: 2px grey;
    }
}