main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

#equipo{
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: grey;
    width: 75%;
    overflow-x: auto;
}

#listaEquipo{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    gap: 50px;
}

.pokemonEquipo{
    background-color: white;
    border-radius: 50%;
    border: solid black 2.5px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonSeleccionado{
    border: solid var(--color-rojo) 4px;
}

#menuPokemons{
    width: 75%;
}

#filtrosBusqueda{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

#inputNombre{
    width:100%;
    padding: 5px;
}

#botonBusqueda{
    padding: 5px;
}

#tablaPokemon{
    border-collapse: collapse;
    width: 100%;
}

#infoPokemons{
    width: 75%;
}

#tablaPokemon th{
    background-color: rgb(194, 194, 194);
    color: black;
}

#tablaPokemon td,th{
    border: solid 2px black;
    padding: 10px;
    text-align: center;
}

#tablaPokemon button{
    width: 100px;
    padding: 10px;
}

@media screen and (max-width: 1.280px){

}  

@media only screen and (max-width: 768px) {

}

