main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

#seccionCombates{
    width: 35%;
    min-width: 255px;
    display: flex;
    justify-content: center;
}

#tablaPartidas{
    width: 100%;
    border-collapse: collapse;
    align-items: center;
}

#tablaPartidas td, th{
    border: solid 2px black;
    text-align: center;
    padding: 5px;
}

#tablaPartidas th{
    background-color: rgb(194, 194 , 194);
    font-size: 1.2em;
}

#tituloH2{
    margin-top: 20px;
}

.boton{
    padding: 5px;
    font-size: 1.1em;
}

#popup{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

#menuEspera{
    background-color: #fff;
    width: 50%;
    height: 65%;
    border: 5px #D61114 solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#181B1D;
  }

  #cerrarMenu{
    width: 50%;
    font-size: 1.3em;
  }
  
  #cargaCombate{
      width: 300px;
  }

  #textoEspera{
      color: white;
  }

@media screen and (max-width: 1.280px){

}  
@media only screen and (max-width: 768px) {
    #tablaPartidas th{
        font-size: 1em;
    }
}