main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

#menuPokemons{
    width: 75%;
}

#filtrosBusqueda{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

#inputNombre{
    width:100%;
    padding: 5px;
}

#botonBusqueda{
    padding: 5px;
}

#tablaPokemon{
    border-collapse: collapse;
    width: 100%;
}

#infoPokemons{
    width: 75%;
}

#tablaPokemon th{
    background-color: rgb(194, 194, 194);
    color: black;
}

#tablaPokemon td,th{
    border: solid 2px black;
    padding: 10px;
    text-align: center;
}

#tablaPokemon button{
    width: 100px;
    padding: 10px;
}

@media screen and (max-width: 1.280px){

}  

@media only screen and (max-width: 768px) {

}

